.nav-items {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#root {
  max-width: 480px;
}

.react-style {
  width: 40px;
}
