* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  font-family: "Inter", sans-serif;
}

.state {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state-title {
  text-align: center;
  color: #d9d9d9;
}

.state-value {
  border-radius: 50%;
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}
