* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.star-wars {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
