* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
}

.styling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
