* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-radius: 10px 10px 0 0;
  padding: 25px 30px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  background: #e5e5e5;
}

.experiences {
  background-color: #fff;
}

.app {
  width: 550px;
  margin: 50px auto;
}

.pictures-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px  ;
}

.group-style-1 {
    width: 75px;
}

.group-style-2 {
    width: 75px;
    padding-top: 70px;

}

.group-style-3 {
    width: 75px;
}

.group-style-4 {
    width: 75px;
    padding-top: 25px;
}