* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  margin: 20px;
}

.input {
  width: 20%;
  height: 30px;
  display: block;
  text-indent: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.checkbox {
  margin-left: 10px;
  margin-top: 10px;
}

.textarea {
  width: 20%;
  height: 70px;
  display: block;
  text-indent: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  outline: none;
  padding-top: 5px;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

label,
legend {
  margin-left: 10px;
  color: #ccc;
}

.input::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.textarea::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

fieldset {
  width: 20%;
  padding: 10px;
  margin-left: 10px;
}

.radio {
  margin-bottom: 10px;
  padding-right: 10px;
}

.submit-button {
  width: 5%;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #444;
  color: #ccc;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
