* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  margin: 20px;
}

.input {
  width: 20%;
  height: 30px;
  display: block;
  text-indent: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 5px;
}

label {
  margin-left: 10px;
  color: #ccc;
}

.input::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}
