* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

.counter {
  font-family: "Inter", sans-serif;
  display: flex;
  color: #d9d9d9;
  justify-content: center;
  margin: 100px 0;
  align-items: flex-end;
}

.counter-count {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #262626;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #404040;
  color: #d9d9d9;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #737373;
  color: #d9d9d9;
  font-size: 1.5rem;
  border: none;
}

.counter-plus {
  margin-left: -20px;
}

.counter-minus {
  margin-right: -20px;
  z-index: 1;
}
