* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Karla", sans-serif;
}

.no-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  align-items: center;
    gap: 10px;
}

.first-note {
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  background-color: #4a4e74;
  color: #fff;
  border: none;
  font-family: "Karla", sans-serif;
}
